//variabili black and white
$white: #fff;
$black: #000;

//variabili per font
$main-font: 'Lato', sans-serif;
$base-font: 14px;

//variabili colori vari per partials
$lightblack: #222222;
$lightgrey: #e6e6e6;
$greyfooter:#333;
$grey: grey;
$blue: #009cff;
$lightblue: #009cff;